@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* header section */

.header {
  width: 100%;
  height: 44px;
  position: fixed;
  gap: 24px;
  top: 0;
  z-index: 10;
  background-color: #f5f5f7;
}

.icons {
  gap: 24px;
}

.header__icon--image--menu {
  display: none;
}
.header__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
/* subscription section */
.subscription {
  width: 100%;
  height: 60px;
  padding: 20px 0px;
  text-align: center;
  margin-top: 40px;
  background-color: white;
  z-index: 5;
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
/* store container */
.store-container {
  width: 100%;
  height: 257px;
  padding: 80px 140px;
  display: flex;
  justify-content: space-between;
}
.store-header {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.font-style {
  font-weight: 700;
  font-size: 44px;
  font-family: "Inter", sans-serif;
}
.store {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  color: transparent;
}
.store-subtitle {
  color: rgba(110, 110, 115, 1);
}
.store-support {
  display: flex;
  gap: 16px;
}

.support-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* product lists */
.productList {
  width: 100%;
  height: 146px;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding-left: 148px;
  margin-bottom: 60px;
}
.product-title {
  padding-top: 18px;
}
/* the latest */
.theLatest {
  height: 558px;
  width: 100%;
  padding-left: 140px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.latest-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
  font-weight: 700;
  size: 24px;
  font-family: "Inter", sans-serif;
}
.title-part {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  color: transparent;
}
.title-part-2 {
  color: rgba(110, 110, 115, 1);
}
.latest-items {
  display: flex;
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.latest-item-card {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  display: flex;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  background: var(--image-url) center / cover no-repeat;
}
.product-detail {
  padding-left: 30px;
  padding-top: 30px;
}
.intelligence {
  color: rgba(182, 68, 0, 1);
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 9px;
  font-family: "Inter", sans-serif;
}
.latest-title {
  font-weight: 700;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  color: rgba(29, 29, 31, 1);
  margin-bottom: 12px;
}
.latest-pricing {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.product-detail--1 {
  padding: 54px 30px;
}
/* Personalization */
.personalization-item-airpod-400-500 {
  width: 400px;
  height: 500px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 1);
  border-radius: 18px;
  background: var(--image-url) center / cover no-repeat;
  flex-shrink: 0;
}
.personalization-item-card {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
}
.img1 {
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.product-detail-1 {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  background: var(--image-url) center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-detail {
  width: 80%;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.personal-description {
  font-size: 12px;
  color: rgba(182, 68, 0, 1);
}
.personal-pricing {
  font-weight: 400;
  font-size: 14px;
  padding-top: 33px;
}
.text-detail-1 {
  width: 80%;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  display: flex;
  gap: 6px;
  flex-direction: column;
  padding-top: 58px;
}
.airpod-pricing {
  font-weight: 400;
  font-size: 14px;
  padding-top: 18px;
}
/* only at iphone */
.iphone-container {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}
.iphone-contain {
  width: 313px;
  height: 240px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 1);
  border-radius: 18px;
  flex-shrink: 0;
  padding: 82px 30px;
}
.font-style1 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 22px;
}
.font-style2 {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 25px;
}
.font--style {
  font-weight: 700;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: rgba(110, 110, 115, 1);
}
.f-style {
  font-weight: 400;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}
/* special savings */
.special-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: rgba(110, 110, 115, 1);
  font-weight: 700;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
}
.latest-title1 {
  font-weight: 700;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  color: rgba(29, 29, 31, 1);
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
  font-weight: 700;
  size: 24px;
  font-family: "Inter", sans-serif;
}
.theLatest1 {
  height: 590px;
  width: 100%;
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
/* QUICK LINKS */
.links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: start;
  width: 83%;
  margin-bottom: 60px;
}
.link-font {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.link-contain {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.link1 {
  border: 1px solid rgba(29, 29, 31, 1);
  border-radius: 999px;
  width: 125px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  flex-direction: row;
  font-size: 14px;
  color: black;
  gap: 6px;
}
.link-returns {
  border: 1px solid rgba(29, 29, 31, 1);
  border-radius: 999px;
  width: 91px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  flex-direction: row;
  font-size: 14px;
  color: black;
  gap: 6px;
}
.link-ur-saves {
  border: 1px solid rgba(29, 29, 31, 1);
  border-radius: 999px;
  width: 114px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  flex-direction: row;
  font-size: 14px;
  color: black;
  gap: 6px;
}
.text-dec {
  text-decoration: none;
}
