@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  display: block;
  background: linear-gradient(180deg, #f5f5f7 0.59%, #ffffff 0.59%);
  background-position: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background: rgba(245, 245, 247, 0.8);
  z-index: 10;
  width: 100%;
  height: 44px;
  column-gap: 24px;
  position: fixed;
  top: 0;
}
.header__icon {
  column-gap: 48px;
}
.border {
  width: 30px;
  height: 40px;
}
.header__icon--image--menu {
  display: none;
}
.icons {
  column-gap: 32px;
}
.header__link {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}
.donation__banner {
  height: 52px;
  font-family: "Inter";
  font-weight: 500;
  color: #1d1d1f;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding: 50px 0px;
  margin: auto;
}
.section1 {
  background-position: center;
  flex-direction: column;
  background-size: cover;
  display: flex;
}

.hero__container {
  width: 100vw;
  height: 692px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  background-position: center;
}
.align-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.iphone16-pro {
  background-image: url(/images/iphone16-pro.png);
  background-size: cover;
}
.iphone16-pro__border {
  gap: 20px;
  width: 405px;
  height: 172px;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.iphone16-pro1 {
  width: 405px;
  height: 60px;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.iphone16-pro2 {
  width: 405px;
  height: 32px;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: rgba(245, 245, 247, 1);
}
.iphone16-pro__border1 {
  width: 405px;
  height: 108px;
  flex-direction: column;
  gap: 16px;
}
.iphone16-pro__border2 {
  width: 207px;
  height: 44px;
  gap: 16px;
}
.iphone16-pro__border_2 {
  width: 123px;
  height: 44px;
  border-radius: 44px;
}
.iphone16-pro__border__2 {
  width: 68px;
  height: 44px;
}
.button--primary {
  color: #fff;
  background-color: #0071e3;
  cursor: pointer;
  text-decoration: none;
  border: solid #0071e3 1px;
  width: 100%;
  justify-content: center;
  border-radius: 99px;
}
.button {
  line-height: 20px;
  letter-spacing: -0.37px;
  align-items: center;
  align-content: center;
}
.button--secondary {
  color: #2997ff;
  cursor: pointer;
  text-decoration: none;
  border: solid #0071e3 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 99px;
  background-color: transparent;
}
.iphone16 {
  background-image: url(/images/iphone16.png);
}
.gift-magic {
  background-image: url(/images/gift-magic.png);
}

.gift__border {
  width: 100%;
  height: 164px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 446px;
}
.gift__border1 {
  height: 104px;
  width: auto;
  margin-bottom: 12px;
}
.gift__border2 {
  height: 60px;
  width: auto;

  margin-bottom: 12px;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  vertical-align: middle;
}
.gift__border3 {
  height: 32px;

  font-family: "Inter", serif;
  font-weight: 400;
  font-style: "Regular";
  font-size: 24px;
}
/* product container */
.product-container {
  gap: 12px;
  display: grid;
  column-gap: 12px;
  grid-auto-rows: 580px;
  grid-template-columns: repeat(2, 1fr);
}
.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--image-url) center / cover no-repeat;
  padding-block: 48px 58px;
  gap: 6px;
}
.product1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--image-url) center / cover no-repeat;
}
.product-title-image {
  background-image: url(/images/Heading3.png);
  width: 430px;
  height: 33px;
  margin-top: 50px;
}
.product-subHead {
  width: 322px;
  height: 25px;
  font-family: "Inter", serif;
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.product-bottom {
  width: 168px;
  height: 18px;
  background: -webkit-linear-gradient(
    45deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  margin-top: 350px;
  font-family: "Inter" serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.product-title {
  font-weight: 600;
  font-size: 36px;
  color: white;
}
.productBottom {
  justify-content: flex-end;
}
.product-Subhead {
  font-weight: 300;
  font-size: 18px;
  font-family: "Inter", serif;
  color: white;
}
.iwatch__Border {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  width: 322px;
  height: 146px;
}
.iwatch__Border1 {
  width: 322px;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.iwatch__Border2 {
  width: 152px;
  height: 61px;
  opacity: 1;
  gap: 4px;
}
.iwatch__Border3 {
  width: 152px;
  height: 39px;
  opacity: 1;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.iwatch__Border3-1 {
  width: 152px;

  height: 18px;
  opacity: 1;
}
.series-10 {
  font-weight: 800;
  font-size: 15px;
}
.iphoneLogo {
  width: 26.35293960571289px;
  height: 32px;
}
.border-title {
  font-weight: 700;
  font-size: 32px;
}
.iwatch__Border1-1 {
  width: 322px;
  height: 25px;
}
.Thinstant-classic {
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
.imac__Border1 {
}
.imac-border-title {
  font-weight: 600;
  font-size: 36px;
  font-family: "Inter", sans-serif;
}
.Lean-Mean {
  margin: 10px;
}
.trade-in {
  width: 322px;
  height: 146px;

  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}
.trade-in-border {
  height: 93px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.trade-in-border1 {
  height: 39px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.trade-title {
  font-weight: 700;
  font-size: 32px;
  font-family: "Inter", sans-serif;
}
.trade-in-subhead {
  font-weight: 300;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.font__style {
  font-weight: 300;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.trade--border {
  width: 167px;
  height: 40px;
  border-radius: 44px;
}
.button--Apply-now {
  color: #2997ff;
  cursor: pointer;
  text-decoration: none;
  border: solid #0071e3 1px;
  width: 112px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 99px;
  background-color: transparent;
}
.learn-more-apply-now-border {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.media-carousel {
  width: 100%;
  display: flex;
  column-gap: 15px;
  overflow-x: scroll;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.carousel-slide {
  width: 1250px;
  height: 668px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
}
.carousel-info {
  left: 47px;
  bottom: 38px;
  position: absolute;
}
.carousel-info-button {
  border: none;
  cursor: pointer;
  font-size: 17px;
  padding: 11px 21px;
  margin-right: 14px;
  border-radius: 999px;
  background-color: #f5f5f7;
}
.bullets {
  display: flex;
  margin-top: 14px;
  justify-content: center;
}
.bullet {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 0.42);
  margin-inline: 7px;
  border-radius: 50%;
  transition: opacity 250ms;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  height: var(--height);
  padding-top: 12px;
  --width: 417px;
  --height: 236px;
  --quantity: 9.44;
}
.slider {
  width: 100%;
  display: flex;
  position: relative;
  min-width: calc(var(--width) * var(--quantity));
}
.slider-item {
  left: 100%;
  position: absolute;
  width: var(--width);
  height: var(--height);
  transition: filter 0.5s;
  background-color: var(--bg-color);
  animation: slider 60s linear infinite;
  animation-delay: calc((56.5s / var(--quantity)) * (var(--item) - 6.5));
}
.slider-content {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 15px;
  font-weight: bold;
  position: relative;
  align-items: center;
  color: var(--color);
  background-size: cover;
}
.slider-button {
  opacity: 0;
  border: none;
  margin-top: 20px;
  padding: 7px 15px;
  border-radius: 999px;
  background-color: white;
}
.slider:hover .slider-item {
  filter: grayscale(1);
  animation-play-state: paused;
}
.slider .slider-item:hover {
  filter: grayscale(0);
}
.slider-image-small {
  width: 196px;
  height: 196px;
  overflow: hidden;
  margin-left: 15px;
  border-radius: 8px;
}
.slider-image-full {
  background-image: var(--background-image);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.slider-image-full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .slider-item:hover {
  filter: grayscale(0);
}
.slider-item:hover .slider-button {
  opacity: 1;
  margin-top: 0;
  transition: all 0.3s ease;
}
.slider-item:hover .slider-overlay {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.slider-caption {
  left: 15px;
  bottom: 30px;
  color: white;
  font-weight: bold;
  position: absolute;
}
.slider-overlay {
  inset: 0;
  opacity: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes slider {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@media (max-width: 1024px) {
  /* header section */
  .header__icon--image--menu {
    display: block;
  }
  .header {
    padding: 16px;
    height: 48px;
    justify-content: space-between;
  }
  .header__link {
    display: none;
  }
  .header__icons {
    column-gap: 0;
  }
  .header__icon--image--menu {
    display: block;
  }
  /* hero container */
  .iphone16-pro {
    background-image: url(/images/iphone16-pro.png);
  }
  .hero__container {
    width: 100%;
    height: 650px;
    background-size: cover;
  }
  .iphone16-pro__border {
    font-size: 40px;
  }
  .hero-subhead {
    margin-block: 4px 16px;
  }
}
@media (max-width: 768px) {
  .hero__container {
    width: 100%;
    height: 650px;
    background-size: cover;
  }
  .iphone16-pro {
    background-image: url(/images/768px/Figure768px.png);
  }
  .iphone16 {
    background-image: url(/images/768px/Figure768.png);
  }
  .product-container {
    grid-auto-rows: 490px;
    grid-template-columns: repeat(2, minmax(49%, 1fr));
  }
  .donation__banner {
    height: 58px;
    padding-block: 12px;
    text-align: center;
    /* padding-left: 50px; */
  }
  .product-title-image {
    background-image: url(/images/768px/ipadair.png);
    width: 180px;
    height: 33px;
    padding-block: 30px 12px;
    background-repeat: no-repeat;
  }
  .product-bottom {
    margin-top: 300px;
  }
  .product-subHead {
    margin-top: 0px;
  }
  .product-title {
    font-size: 30px;
    font-weight: 700;
  }
  .product-subhead {
    font-size: 18px;
  }
  .carousel-slide {
    width: 689px;
    height: 368px;
  }
}
@media (max-width: 390px) {
  .hero__container {
    height: 500px;
  }
  .iphone16-pro {
    background-image: url(/images/390px/iphone16-pro-390px.png);
    width: 100%;
    height: 500px;
    display: flex;
  }
  .iphone16-pro__border {
    justify-content: flex-end;
  }
  .marginTop {
    margin-top: 250px;
  }
  .gift__border {
    position: relative;
    bottom: 120px;
  }
  .hero__container {
    display: flex;
    justify-content: flex-end;
  }
  .iphone16 {
    background-image: url(/images/390px/iphone16-30px.png);
  }
  .hero__container {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .product-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(1, minmax(280px, 1fr));
    gap: 12px;
    background-size: cover;
  }
  .carousel-slide {
    width: 274px;
    height: 495px;
  }
  background-size: cover;
  .button {
    padding: 8px 16px;
  }
  .donation__banner {
    height: 73px;
  }
}
